<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='additional_form_style.css') }}">
    <title>Cake order</title>
    <script type="text/javascript">(function(){window['_surfly_settings']=window['_surfly_settings']||{
    widgetkey:"b84defc4621441ecae5eb10bdec1cb5a",
    /*
    add your custom options here
    */
    };
    var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src="https://surfly.com/static/js/widget.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n); })();
    </script>

  <body class="body-style">
         <a href="{{ url_for('index') }}">
         <img class="img-logo" src="../static/logo4.png"/>
         </a>
	 <form action="" method="post" class="dark-matter">
	    <h1 class="text-title">Fantasy Bakes Order Form 
		<span>Please fill all the text fields</span>
	    </h1>
	    <label>
		<span>Full name :</span>
		<input id="name" type="text" name="name" />
	    </label>
	    
	    <label>
		<span>Email address :</span>
		<input id="email" type="email" name="email"/>
	    </label>
	    
	    <label>
		<span>Address:</span>
		<textarea id="address" name="address"> </textarea>
	    </label> 
	     <label>
		<span>Payment details :</span><select name="selection">
		<option value="Job Inquiry">Credit Card</option>
		<option value="General Question">PayPal</option>
		</select>
	    </label>    
	     <label>
		<span>&nbsp;</span> 
		<input type="button" class="button" onclick=logSale() style="background-color: #87cefa;" value="Order" /> 
	    </label>    
            <label>
               <span>&nbsp;</span>
               <input type="button" class="button" onclick=thankYou() style="background-color: #87cefa;" value="continue"/>
            </label>
	</form>
    
        <a href='#' onclick='downloadCSV({ filename: "csv_array-data.csv" });'>Download CSV</a>
       
        <script type="text/javascript">
           function thankYou(){
           window.location.href="/thank_you";
           }
        </script>

        <script type="text/javascript">
           function logSale(){
           Surfly.log("Sales complete");
           }
         </script>

     <script type="text/javascript">
      var request_logs = new XMLHttpRequest();
      request_logs.open('GET', 'https://api.surfly.com/v2/logs/?api_key=ec006650588b4726ac397ab5e56c033a');
      var agents = [];// array containing agents who've made a sale
      var count = [];// array storing the number of sales for each agent
      var csv_array = []; // array to store the agents and count
      request_logs.onreadystatechange = function () {
        if (this.readyState === 4) {
                var str_logs = this.responseText;// get the logs
                var array_logs = str_logs.split('{'); //split the logs  
        
          // we go through all the logs and for each of them, we check what's in the "details" section
          for(var i =0; i<array_logs.length;i++){
                  var element = array_logs[i]; 
                  var index = element.indexOf("details");
                  var details = element.substring(index+10, element.length-3);
                  details = details.replace('\/"',"");
                  // if we are in a Surfly session and the details are "Sales complete" (log sent when a sale is made) then we get the agent's id
                  if(window.__surfly){
                          if(details=="Sales complete"){
                                  var index_ag = element.indexOf("agent_id");
                                  var index_created = element.indexOf("created");
                                  var id = element.substring(index_ag+11, index_created-2);
                                  // if the agent's id is not in the array then we add it with a sales count of 1
                                  if(agents.indexOf(id)===-1){
                                          agents.push(id);
                                          count.push(1);
                                  // otherwise, we increment by 1 the number of sales made by the agent
                                  }else{
                                         for(var j=0; j<agents.length;j++){
                                                  if(agents[j]===id){
                                                          count[j]+=1;
                                          }
                                  }
                          }
                  }
          }
      }
     // we push the agents and the count values to the csv array and join them with a ',' to create a csv format
        csv_array.push(agents);
        csv_array.push(count);
       // <button id="downloadCsv" onclick="getCsv">Download</button>
        var new_csv_array = csv_array.join(",");
        sessionStorage.setItem('retrieveCsv', new_csv_array);
    }
  }; 
  request_logs.send();
</script>

<script type="text/javascript">

  function downloadCSV(args) {
  var csv = convertArrayOfObjectsToCSV({
     data : sessionStorage.getItem('retrieveCsv')
      });
        if (csv == null) return;

        filename = args.filename || 'export.csv';

        if (!csv.match(/^data:text\/csv/i)){
           csv = 'data:text/csv;charset=utf-8,' + csv;
        }
        data =  encodeURI(csv);

        link = document.createElement('a');
        link.setAttribute('href', data);
        link.setAttribute('download', filename);
        link.click();
      }

  </script>

  </body>
</html>
