<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='additional_form_style.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='button_style.css') }}">

    <title>Cake order</title>
    <script type="text/javascript">(function(){window['_surfly_settings']=window['_surfly_settings']||{
    widgetkey:"dd402bb4940b4cf3a855aaa371d11419",
    ui_off: true,
    hidden: true,
    cookie_transfer_enabled: true,
    cookie_transfer_proxying: false
    };
    var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src="https://surfly.com/static/js/widget.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n); })();
    </script>
    <!--Adding Zopim-->
    <script>
	if(!window.__surfly){
	    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
	    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
	    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
	    $.src="//v2.zopim.com/?40l495kTPWFGA7JFrUDzK03KARqCPsNL";z.t=+new Date;$.
	    type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");  
	}
    </script>
  </head>

  <body class="body-style">
    <div style="text-align:right;">
      <button class="button" id="exit_button" style="visibility:hidden" onclick="exitSession()">Exit session</button>
    </div>
         <a href="{{ url_for('index') }}">
         <img class="img-logo" src="../static/logo4.png"/>
         </a>

	 <form id="order" class="dark-matter">

	    <h1 class="text-title">Fantasy Bakes Order Form 
		<span>Please fill all the text fields</span>
	    </h1>
	    <label>
		<span>Full name :</span>
		<input id="name" type="text" name="name" />
	    </label>
	    
	    <label>
		<span>Email address :</span>
		<input id="email" type="email" name="email"/>
	    </label>
	    
	    <label>
		<span>Address:</span>
		<textarea id="address" name="address"> </textarea>
	    </label> 
            <label>
		  <div class="form-row">
    		    <label>
		      <span>Card Number</span>
		      <input type="text" size="20" data-stripe="number" surfly_private>
		    </label>
		  </div>

		  <div class="form-row">
		    <label>
		      <span>Expiration (MM/YY)</span>
		      <input type="text" size="5" surfly_private>
		    </label>
		  </div>

		  <div class="form-row">
		    <label>
		      <span>CVC</span>
		      <input type="text" size="4" data-stripe="cvc" surfly_private>
		    </label>
		  </div>
	    </label>      
            <label>
               <span>&nbsp;</span>
               <input type="button" class="button" id="order_button" style="cursor:pointer;" onclick=thankYou() style="background-color: #87cefa;" value="Order" /> 
            </label>
	</form>
       
        <script type="text/javascript">
           function thankYou() {
	      document.getElementById("order").submit();
	      var get_name = document.getElementById("name").value;
	      var get_email = document.getElementById("email").value;
	      var get_address = document.getElementById("address").value;
	      if(get_name!=="" && get_email!=="" && get_address!==""){
			sessionStorage.setItem("order_info_complete", "true");
	      } else {
			sessionStorage.setItem("order_info_complete", "false");
	      }
	      document.cookie = 'order: name='+get_name+',email='+get_email+',address='+get_address;
              window.location.href = '/thank_you';
           }
        </script>

	<script>
	// when the leader is in control then the 'buy' button is clickable otherwise, it is disabled
	window.addEventListener('surflycontrolchange', function (event) {
	    var element = document.getElementById("order_button");
	    if (event.leaderHasControl) {
		element.disabled = false;
	    } else {
		element.disabled = true;
	    }
	});
	</script>

	   <script>
	   if(window.__surfly){
		document.getElementById('exit_button').style.visibility="visible";
	   } else {
		document.getElementById('exit_button').style.visibility="hidden";
	   }
	   </script>

	<script type="text/javascript">
	    // end session
	    function exitSession(){
		var request_end = new XMLHttpRequest();
		request_end.open('DELETE', 'https://api.surfly.com/v2/sessions/'+sessionStorage.getItem("session_id")+'/?api_key=33c092b9d4d6425e817f5140447e43da');
		request_end.onreadystatechange = function () {
	  		if (this.readyState === 4) {
				var body = this.responseText;
				var index = body.indexOf("response");
				var success = body.substring(index+11, body.length-2);
				if(success==="Session has been ended successfully"){				
					Surfly.endSession('https://young-tundra-78608.herokuapp.com/');
				}
	 		}
		};
		request_end.send();
	  }
	  </script>
  </body>
</html>
