<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='button_style.css') }}">

    <title>Thank you page</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">(function(){window['_surfly_settings']=window['_surfly_settings']||{
widgetkey:"dd402bb4940b4cf3a855aaa371d11419",
hidden: true,
cookie_transfer_enabled: true,
cookie_transfer_proxying: false
};
var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src="https://surfly.com/static/js/widget.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n); })();</script>

    <style>
    
      #exit_button {
        background-color: #87cefa;
        border: none;
        color: black;
        padding: 3px 7px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 0 auto;
        cursor: pointer;
        width: 8%;
        height: 30px;
        font-weight: bold;
        border-radius: 8px;
        right: 5px;
        top: 5px;
        position: absolute;
    }
    </style>
   
</head>
   
<body>
    <header id="top" class="header">
        <img class="img-logo" src="../static/logo2.png"/>
        <div class="text-vertical-center">
            <h1>Thank you</h1>
            <h3>for your order</h3>
            <br>
            <a href="{{ url_for('receipt') }}" class="btn btn-dark btn-lg">Get Receipt</a>
        </div>
    </header>
</body>

</html>
